body {
  background-color: #7BA47C;
  background-image: linear-gradient(to right, #518555, #FFFCA4);

}

h1 {
  color: #084F08;
  margin-left: 410px;

  color: #615713;
  text-shadow: 2px 2px #FFFCA4;
}


#colors {
  margin-left: 550px;
  color: #084F08;
  border-radius: 50px;
  padding: 20px;
  border: 5px solid  #518555;
  background: #E5FF8E;
  width: 10%;
  box-shadow: 5px 5px;
}
